nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,1c8496+0,7db9e8+69,7db9e8+69,207cca+99 */
  background: #999999; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #d7e5f5 0%,
    #98b7da 79%,
    #18639d 83%,
    #0d3f6a 99%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #d7e5f5 0%,
    #98b7da 79%,
    #18639d 83%,
    #0d3f6a 99%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7e5f5 0%,
    #98b7da 79%,
    #18639d 83%,
    #0d3f6a 99%
  );
}

body {
  min-height: 100vh;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #373b44,
    #18639d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #373b44,
    #18639d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  background: #e2ebf2;
}

canvas {
  box-shadow: 0 0 5px rgb(121, 121, 121);
}

/* SPINNER LOADER */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(113, 113, 113);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-your-turn {
  color: #31708f;
  background-color: #bce8f1;
  border: 1px solid #31708f;
}

.alert-opponent-turn {
  color: #886528;
  background-color: #ffe9c8;
  border-color: #886528;
}

.alert-winner {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}

.alert-loser {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #333;
}

.chatTitle {
  list-style: none;
  padding-left: 25px;
}

#message {
  margin: 0 20px 0 5px;
  box-shadow: 0 0 6px #00000020;
}

#messages-list {
  height: 95px;
  overflow-y: scroll;
  margin-top: 5px;
  border: 1px solid rgb(150, 177, 247);
}

#messages {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#messages li {
  margin: 0px;
  padding: 0px;
}

.list-group-item:first-child,
.list-group-item:last-child,
.form-control {
  border-radius: 0px;
}

.list-group-item {
  border-color: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}

#turn-status {
  padding: 10px 0px;
  margin: 25px 0 0 0;
}

#turn-status a {
  font-weight: bold;
  text-decoration: underline;
}
